<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
      font-family: 'Roboto', sans-serif;
    }

    .container {
      max-width: 400px;
      margin: 100px auto 0;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #ced4da;
      border-radius: 5px;
    }

    .login-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-top: 20px;
      cursor: pointer;
    }

    .register-link {
      text-align: center;
      margin-top: 20px;
    }

    .navbar {
      margin-top: 0;
      font-family: 'Dancing Script', cursive;
    }

    .navbar-brand {
      padding: 0;
      margin: 0;
      font-size: 30px;
      line-height: 1;
    }

    .navbar-expand-lg .navbar-nav {
      justify-content: flex-end;
    }

    .navbar-nav .nav-link {
      margin-left: 10px;
      margin-right: 10px;
    }
  </style>
  <title>Login Form</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Vikretha</a>
    </div>
  </nav>

  <div class="container">
    <h1>Login</h1>
    <form id="login-form" action="/login" method="POST">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button class="login-button" type="submit">Login</button>
    </form>
    <p class="register-link">If you haven't registered yet, <a href="/register">click here to register</a>.</p>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.bundle.min.js"></script>
 
</body>

</html>
